Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2024-11, with the labels that each got.

#193 Event assets
  Resources/Audio/_Umbra/_GM/Onenineone/assault.ogg
  Resources/Audio/_Umbra/_GM/Onenineone/attributions.yml
Labels: No C#

#199 Revert "Event assets"
  Resources/Audio/_Umbra/_GM/Onenineone/assault.ogg
  Resources/Audio/_Umbra/_GM/Onenineone/attributions.yml
Labels: No C#

#195 Personal Item - Composite Raincoat
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Umbra/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/hos_raincoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/hos_raincoat.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/hos_raincoat.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/hos_raincoat.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/hos_raincoat.rsi/meta.json
Labels: Changes: Sprites, No C#

#189 Personal item: Tiha-Tuga plushie
  Resources/Audio/_Umbra/Items/Toys/Tiha/attributtions.yml
  Resources/Audio/_Umbra/Items/Toys/Tiha/eaten_sad.ogg
  Resources/Audio/_Umbra/Items/Toys/Tiha/gasp.ogg
  Resources/Audio/_Umbra/Items/Toys/Tiha/hai.ogg
  Resources/Audio/_Umbra/Items/Toys/Tiha/hit_sad.ogg
  Resources/Audio/_Umbra/Items/Toys/Tiha/hmf.ogg
  Resources/Audio/_Umbra/Items/Toys/Tiha/sad.ogg
  Resources/Locale/en-US/_Umbra/foldable/components/foldable-component.ftl
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_tiha.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_tiha.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_tiha.rsi/icon.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_tiha.rsi/inhand-left.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_tiha.rsi/inhand-right.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_tiha.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_tiha.rsi/sleepy-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_tiha.rsi/sleepy-equipped-NECK.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_tiha.rsi/sleepy-icon.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_tiha.rsi/sleepy-inhand-left.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_tiha.rsi/sleepy-inhand-right.png
Labels: Changes: Sprites, No C#

#205 Fix: Personal Item for Isathei Arsicaris
  Resources/Prototypes/_Umbra/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#201 fix membral wing copyright
  Resources/Textures/Mobs/Customization/Moth/moth_wings.rsi/meta.json
Labels: Changes: No C#, size/XS

#204 Personal Item: John Morwood's Military Cross
  Resources/Prototypes/_Umbra/Entities/Clothing/Neck/medals.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Neck/Medals/johnmilitarycrossmedal.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/Clothing/Neck/Medals/johnmilitarycrossmedal.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Neck/Medals/johnmilitarycrossmedal.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#210 Hab station template
  Resources/Maps/_Umbra/Grids/HabStationTemplate.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#214 Update license information
  LICENSE.TXT
  README.md
  SECURITY.md
Labels: S: Untriaged, Changes: No C#, size/M

#203 Personal Item: Attacus Fischer's Guitar
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Instruments/attacusguitar.rsi/equipped-BACKPACK.png
  Resources/Textures/_Umbra/Objects/Fun/Instruments/attacusguitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Umbra/Objects/Fun/Instruments/attacusguitar.rsi/icon.png
  Resources/Textures/_Umbra/Objects/Fun/Instruments/attacusguitar.rsi/inhand-left.png
  Resources/Textures/_Umbra/Objects/Fun/Instruments/attacusguitar.rsi/inhand-right.png
  Resources/Textures/_Umbra/Objects/Fun/Instruments/attacusguitar.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Instruments/attacusguitar.rsi/wielded-inhand-left.png
  Resources/Textures/_Umbra/Objects/Fun/Instruments/attacusguitar.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Merge Conflict, size/M

#206 Personal Item: Walks-The-Grooves Plushie
  Resources/Audio/_Umbra/Items/Toys/Graves/attributions.yml
  Resources/Audio/_Umbra/Items/Toys/Graves/collision_grunt.ogg
  Resources/Audio/_Umbra/Items/Toys/Graves/eaten_scream.ogg
  Resources/Audio/_Umbra/Items/Toys/Graves/grunt.ogg
  Resources/Audio/_Umbra/Items/Toys/Graves/heyo.ogg
  Resources/Audio/_Umbra/Items/Toys/Graves/hit_grunt.ogg
  Resources/Locale/en-US/_Umbra/foldable/components/foldable-component.ftl
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_graves.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_graves.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_graves.rsi/frowny-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_graves.rsi/frowny-equipped-NECK.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_graves.rsi/frowny-icon.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_graves.rsi/frowny-inhand-left.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_graves.rsi/frowny-inhand-right.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_graves.rsi/icon.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_graves.rsi/inhand-left.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_graves.rsi/inhand-right.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_graves.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/L

#207 Personal Item: Aphelio's plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_aphelio.rsi/aphelio-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_aphelio.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_aphelio.rsi/plushie_aphelio.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Merge Conflict

#194 Port RMC's Bloodbag and IV System
  Content.Client/_RMC/Medical/IV/IVDripSystem.cs
  Content.Server/_RMC/Medical/IV/IVDripSystem.cs
  Content.Shared/_RMC/Medical/IV/AttachBloodPackDoAfterEvent.cs
  Content.Shared/_RMC/Medical/IV/BloodPackComponent.cs
  Content.Shared/_RMC/Medical/IV/IVDripComponent.cs
  Content.Shared/_RMC/Medical/IV/SharedIVDripSystem.cs
  Resources/Locale/en-US/_RMC/medical/iv.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/_RMC/Entities/Structures/Marchines/Medical/iv.yml
  Resources/Prototypes/_Umbra/Entities/Objects/Devices/flatpack.yml
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/a+.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/a-.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/ab+.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/ab-.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/b+.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/b-.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/blank.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/bloodpack.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/bloodpack1.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/bloodpack2.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/bloodpack3.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/bloodpack4.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/bloodpack5.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/bloodpack6.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/bloodpack7.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/meta.json
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/o+.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/o-.png
  Resources/Textures/_RMC/Objects/Medical/blood_pack.rsi/x.png
  Resources/Textures/_RMC/Structures/Machines/Medical/iv_drip.rsi/flatpack.png
  Resources/Textures/_RMC/Structures/Machines/Medical/iv_drip.rsi/hooked.png
  Resources/Textures/_RMC/Structures/Machines/Medical/iv_drip.rsi/meta.json
  Resources/Textures/_RMC/Structures/Machines/Medical/iv_drip.rsi/reagent0.png
  Resources/Textures/_RMC/Structures/Machines/Medical/iv_drip.rsi/reagent10.png
  Resources/Textures/_RMC/Structures/Machines/Medical/iv_drip.rsi/reagent100.png
  Resources/Textures/_RMC/Structures/Machines/Medical/iv_drip.rsi/reagent25.png
  Resources/Textures/_RMC/Structures/Machines/Medical/iv_drip.rsi/reagent50.png
  Resources/Textures/_RMC/Structures/Machines/Medical/iv_drip.rsi/reagent75.png
  Resources/Textures/_RMC/Structures/Machines/Medical/iv_drip.rsi/reagent80.png
  Resources/Textures/_RMC/Structures/Machines/Medical/iv_drip.rsi/unhooked.png
  Resources/migration.yml
Labels: Changes: Sprites, size/XL, S: Needs Review

#212 Personal Item: Finds-The-Treasure Plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_finds.rsi/finds-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_finds.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_finds.rsi/plushie_finds.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Merge Conflict, size/M

#213 Personal Item: Finds-The-Treasure's Hat
  Resources/Prototypes/_Umbra/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Head/Hats/findshat.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/findshat.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/findshat.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/findshat.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/findshat.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#211 Personal item: Old space lizard plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_old_space_lizard.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_old_space_lizard.rsi/icon.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_old_space_lizard.rsi/inhand-left.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_old_space_lizard.rsi/inhand-right.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_old_space_lizard.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#220 Remove/Revert CD's Cryosystem and related things
  Content.Client/_CD/CryoSleep/AcceptCryoWindow.cs
  Content.Client/_CD/CryoSleep/CryoSleepEui.cs
  Content.Server/_CD/Storage/Components/LostAndFoundComponent.cs
  Resources/Locale/en-US/_CD/cryosleep/cryosleep-component.ftl
  Resources/Prototypes/_CD/Entities/Structures/Storage/lockers.yml
  Resources/Textures/Structures/Storage/closet.rsi/lostandfound.png
  Resources/Textures/Structures/Storage/closet.rsi/lostandfound_door.png
  Resources/Textures/Structures/Storage/closet.rsi/lostandfound_open.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/L

#209 New Map: Cluster Prime
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Umbra/clusterprime.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Umbra/Maps/clusterprime.yml
Labels: Changes: Map, size/XL, S: Needs Review

#224 Remove CMBlood Related Items from Cluster Prime
  Resources/Maps/_Umbra/clusterprime.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M
