Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2024-10, with the labels that each got.

#165 Playtime Updates
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_CD/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/_CD/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/_CD/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/_CD/Roles/Jobs/Security/senior_officer.yml
Labels: No C#

#163 Prevents Anomaly Infections from spawning,.
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
Labels: No C#

#158 Personal Item - Johan's Scarf
  Resources/Prototypes/_Umbra/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Neck/Scarfs/johanscarf.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/Clothing/Neck/Scarfs/johanscarf.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Neck/Scarfs/johanscarf.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Neck/Scarfs/johanscarf.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Neck/Scarfs/johanscarf.rsi/meta.json
Labels: Changes: Sprites, No C#

#170 Readded Service access due to Issue #165/#169
  Resources/Prototypes/_CD/Roles/Jobs/Security/senior_officer.yml
Labels: No C#

#168 Preferences selection
  Resources/Locale/en-US/_Umbra/consents/consents.ftl
  Resources/Prototypes/_CD/Roles/Antags/preferences.yml
  Resources/Prototypes/_Umbra/Roles/Consents/consents.yml
Labels: Changes: Map, Changes: Sprites, Changes: UI, No C#

#171 New personal item - Takes's Plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_takes.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_takes.rsi/plushie_takes.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_takes.rsi/takes-equipped-HELMET.png
Labels: Changes: Sprites, No C#

#176 Upstream merge [Stable]
  .github/workflows/publish.yml
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
  Content.Shared/Hands/Components/HandsComponent.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Maps/box.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_CD/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_CD/Catalog/VendingMachines/Inventories/quickthreads.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/color_jumpsuits.yml
Labels: Changes: Map, Status: Needs Review

#175 Personal Item: Hisses-At-Inconvenience's Golden Locket
  Resources/Locale/en-US/_Umbra/clothing/outerwear.ftl
  Resources/Prototypes/_Umbra/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/_Umbra/Clothing/OuterClothing/Misc/hisses_golden_locket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Misc/hisses_golden_locket.rsi/icon-on.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Misc/hisses_golden_locket.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Misc/hisses_golden_locket.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Misc/hisses_golden_locket.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Misc/hisses_golden_locket.rsi/meta.json
Labels: Changes: Sprites, No C#

#185 no more forced french
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
Labels: No C#

#180 Personal Item: Anxeeth-Duna's Plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_duna.rsi/duna-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_duna.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_duna.rsi/plushie_duna.png
Labels: Changes: Sprites, No C#

#181 Personal Item: Only-Sees-Burgundy's Plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_burg.rsi/burg-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_burg.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_burg.rsi/plushie_burg.png
Labels: Changes: Sprites, No C#

#182 Personal Item: Hisses-At-Inconvenience's Plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_hisses.rsi/hisses-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_hisses.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_hisses.rsi/plushie_hisses.png
Labels: Changes: Sprites, No C#

#183 Personal Items: Steals-The-Materials' Plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_materials.rsi/materials-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_materials.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_materials.rsi/plushie_materials.png
Labels: Changes: Sprites, No C#, Merge Conflict

#186 Personal Item: June Mothe's Coat
  Resources/Prototypes/_Umbra/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/mothe_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/mothe_coat.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/mothe_coat.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/mothe_coat.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/mothe_coat.rsi/meta.json
Labels: Changes: Sprites, No C#

#187 Personal Item: FP-SR M36's Artificer Uniform
  Resources/Prototypes/_Umbra/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/artificer_uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/artificer_uniform.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/artificer_uniform.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/artificer_uniform.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/artificer_uniform.rsi/meta.json
Labels: Changes: Sprites, No C#

#177 Personal Item: Ko Karaki's Nanoweave Mantle
  Resources/Locale/en-US/_Umbra/foldable/components/foldable-component.ftl
  Resources/Prototypes/_Umbra/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Neck/Mantles/karakinanowevemantle.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/Clothing/Neck/Mantles/karakinanowevemantle.rsi/icon-open.png
  Resources/Textures/_Umbra/Clothing/Neck/Mantles/karakinanowevemantle.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Neck/Mantles/karakinanowevemantle.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Neck/Mantles/karakinanowevemantle.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Neck/Mantles/karakinanowevemantle.rsi/meta.json
  Resources/Textures/_Umbra/Clothing/Neck/Mantles/karakinanowevemantle.rsi/open-equipped-NECK.png
  Resources/Textures/_Umbra/Clothing/Neck/Mantles/karakinanowevemantle.rsi/open-inhand-left.png
  Resources/Textures/_Umbra/Clothing/Neck/Mantles/karakinanowevemantle.rsi/open-inhand-right.png
Labels: Changes: Sprites, No C#

#188 Personal Item: Isathei's Valexian Windbreaker
  Resources/Prototypes/_Umbra/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/isathei_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/isathei_coat.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/isathei_coat.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/isathei_coat.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/isathei_coat.rsi/meta.json
Labels: Changes: Sprites, No C#

#190 Fixed Personal Item: Hisses Golden Locket
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
Labels: No C#

#191 Self-Execution no longer activates /suicide
  Content.Shared/Execution/SharedExecutionSystem.cs
Labels: Status: Needs Review

#151 Add Bunny Animal + Bunny Crate
  Resources/Locale/en-US/_Umbra/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_Umbra/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/_Umbra/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/_Umbra/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_Umbra/Mobs/Animals/bunny.rsi/bunny.png
  Resources/Textures/_Umbra/Mobs/Animals/bunny.rsi/bunny_dead.png
  Resources/Textures/_Umbra/Mobs/Animals/bunny.rsi/icon.png
  Resources/Textures/_Umbra/Mobs/Animals/bunny.rsi/inhand-left.png
  Resources/Textures/_Umbra/Mobs/Animals/bunny.rsi/inhand-right.png
  Resources/Textures/_Umbra/Mobs/Animals/bunny.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review
