Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2024-12, with the labels that each got.

#226 Re-add senior roles to Box Station
  Resources/Prototypes/Maps/box.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/S

#228 Remove brig access from head roles
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: Changes: No C#, size/XS

#229 Change all IC mention of NT Death Squads to the NTIA
  Resources/Locale/en-US/advertisements/vending/bruiseomat.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
Labels: S: Untriaged, Changes: No C#, size/M, S: Needs Review

#235 Fix that one comment I missed on PR #229
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: S: Untriaged, Changes: No C#, size/XS, S: Needs Review

#238 Add Latest Builds Link to Github Readme
  README.md
Labels: Changes: No C#, size/XS, S: Needs Review

#236 Fixes Meta Job Prototypes (Adds Senior Roles)
  Resources/Prototypes/Maps/meta.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XS

#230 Allow ClothingOuterBase (And its children) to use the suitstorageslot again
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#240 THINGS FOR EVENT - DO NOT LOOK!!!
  Resources/Prototypes/_Umbra/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Umbra/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Umbra/Clothing/Head/Hardsuits/mi14_anino.rsi/icon-flash.png
  Resources/Textures/_Umbra/Clothing/Head/Hardsuits/mi14_anino.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Head/Hardsuits/mi14_anino.rsi/meta.json
  Resources/Textures/_Umbra/Clothing/Head/Hardsuits/mi14_anino.rsi/off-equipped-HELMET.png
  Resources/Textures/_Umbra/Clothing/Head/Hardsuits/mi14_anino.rsi/on-equipped-HELMET.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Hardsuits/mi14_anino.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Hardsuits/mi14_anino.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Hardsuits/mi14_anino.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Hardsuits/mi14_anino.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Hardsuits/mi14_anino.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/L

#242 Fix Clusterprime minor errors
  Resources/Maps/_Umbra/clusterprime.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/L

#231 Fix Iris's Air Alarms
  Resources/Maps/_Umbra/iris.yml
  Resources/Prototypes/_Umbra/Parallaxes/iris.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL, S: Needs Review

#245 Added Round Removal Target
  Resources/Locale/en-US/_Umbra/consents/consents.ftl
  Resources/Prototypes/_Umbra/Roles/Consents/consents.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#246 Personal Item Fix - Serendipity Guitar
  Resources/Prototypes/_Umbra/PersonalItems/Items/serendipityguitar.yml
Labels: S: Untriaged, Changes: No C#, size/XS, S: Needs Review

#244 Personal Item Fixes - Wave 2
  Content.Shared/Preferences/Loadouts/Effects/PersonalItemLoadoutEffect.cs
  Resources/Locale/en-US/_Umbra/preferences/loadouts.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/jalopydetectiveraincoat.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/jalopyhosraincoat.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/yarnaarmourcoat.yml
Labels: S: Untriaged, S: Needs Review, size/L

#243 Stable Merge 19/12/24
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
  Content.Client/_CD/Admin/UI/EventPreferencePanelEui.cs
  Content.Client/_CD/Admin/UI/EventPreferences.xaml
  Content.Client/_CD/Admin/UI/EventPreferences.xaml.cs
  Content.Client/_CD/Admin/UI/EventPreferencesPanel.xaml
  Content.Client/_CD/Admin/UI/EventPreferencesPanel.xaml.cs
  Content.Server/StationEvents/Events/GreytideVirusRule.cs
  Content.Server/_CD/Admin/Commands/EventPreferencesCommand.cs
  Content.Server/_CD/Admin/EventPreferenceEui.cs
  Content.Server/_CD/Admin/EventPreferencePanelEui.cs
  Content.Server/_CD/Records/RecordsSerialization.cs
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
  Content.Shared/_CD/Admin/EventPreferencePanelEuiState.cs
  Resources/ConfigPresets/WizardsDen/salamander.toml
  Resources/Locale/en-US/_CD/admin/admin.ftl
  Resources/Locale/en-US/_CD/station/events.ftl
  Resources/Maps/Shuttles/emergency_amber.yml
  Resources/Maps/amber.yml
  Resources/Maps/core.yml
  Resources/Maps/oasis.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: Map, Changes: UI, S: Untriaged, size/XL, S: Needs Review

#247 Cluster Prime Update: Round 2
  Resources/Maps/_Umbra/clusterprime.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review

#248 Personal Item Fix: Material's Plushie
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/materialsplushie.yml
Labels: Changes: No C#, size/XS

#249 Cleaning Personal Item Files
  Resources/Prototypes/_Umbra/PersonalItems/Items/serendipityguitar.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/karakinanoweavemantle.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/novacatears.yml
  Resources/Textures/_Umbra/PersonalItems/Items/serendipityguitar.rsi/equipped-BACKPACK.png
  Resources/Textures/_Umbra/PersonalItems/Items/serendipityguitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Umbra/PersonalItems/Items/serendipityguitar.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Items/serendipityguitar.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Items/serendipityguitar.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Items/serendipityguitar.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Items/serendipityguitar.rsi/wielded-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Items/serendipityguitar.rsi/wielded-inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Misc/borgsscarf[TOBEDELETED].rsi/equipped-NECK.png
  Resources/Textures/_Umbra/PersonalItems/Misc/borgsscarf[TOBEDELETED].rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Misc/borgsscarf[TOBEDELETED].rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Misc/wipesfriendmedal[TOBEDELETED].rsi/equipped-NECK.png
  Resources/Textures/_Umbra/PersonalItems/Misc/wipesfriendmedal[TOBEDELETED].rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Misc/wipesfriendmedal[TOBEDELETED].rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Needs Review

#251 Added Bnark and Bork to Vulp Emote Sound Triggers
  Resources/Prototypes/_CD/Voice/speech_emotes.yml
Labels: S: Untriaged, Changes: No C#, size/S

#233 Nurse PDA, Skirt of Life, Alt Nurse Hat
  Resources/Locale/en-US/_Umbra/preferences/job-names.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Umbra/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Umbra/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/_Umbra/Loadouts/Jobs/Medical/titles.yml
  Resources/Textures/_Umbra/Clothing/Head/Hats/nursehatalt.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/nursehatalt.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/nursehatalt.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/nursehatalt.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/nursehatalt.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/nursehatalt.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Devices/pda.rsi/id_overlay.png
  Resources/Textures/_Umbra/Objects/Devices/pda.rsi/light_overlay.png
  Resources/Textures/_Umbra/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Devices/pda.rsi/pda-nurse.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, S: Needs Review

#253 Increased character limit for Subtle Message and Prayer
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Prayer/PrayerSystem.cs
Labels: S: Untriaged, size/XS, S: Needs Review
