Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2024-05, with the labels that each got.

#12 Fishbowl - Central Commander personal transport/office shuttle
  Resources/Maps/_Umbra/fishbowl.yml
Labels: No C#, Status: Needs Review

#31 Replace regular sunglasses with cheap ones
  Resources/Prototypes/_CD/Catalog/VendingMachines/Inventories/quickthreads.yml
Labels: No C#, Status: Needs Review

#28 Add ammonia husks
  Resources/Prototypes/_Umbra/Entities/Mobs/NPCs/ammonia_husk.yml
Labels: No C#

#36 Oral fidget toy
  Resources/Prototypes/_Umbra/Entities/Clothing/Masks/masks.yml
  Resources/Textures/_Umbra/Clothing/Mask/chewtoy.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_Umbra/Clothing/Mask/chewtoy.rsi/equipped-MASK.png
  Resources/Textures/_Umbra/Clothing/Mask/chewtoy.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Mask/chewtoy.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Mask/chewtoy.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Mask/chewtoy.rsi/meta.json
Labels: Changes: Sprites, No C#

#37 Jalopy's Reinforced Raincoat
  Resources/Prototypes/_Umbra/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/reinforced_raincoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/reinforced_raincoat.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/reinforced_raincoat.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/reinforced_raincoat.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/reinforced_raincoat.rsi/meta.json
Labels: Changes: Sprites, No C#

#29 Logo time! I think!
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
Labels: No C#

#26 Personal item loadouts
  Content.Client/Preferences/UI/LoadoutGroupContainer.xaml.cs
  Content.Client/Preferences/UI/RequirementsSelector.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Preferences/Loadouts/Effects/GroupLoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/Effects/JobRequirementLoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/Effects/LoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/Effects/PersonalItemLoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/Effects/PointsCostLoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
  Resources/Locale/en-US/_Umbra/preferences/loadouts.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CD/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Umbra/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
Labels: Changes: UI

#32 Map test tweaks
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Umbra/Ukea/Diesel.yml
  Resources/Maps/_Umbra/Ukea/Jigsaw_Ukea_map.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_CEatmos.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_HoPEVAclown.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_QMcargo.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_RDanom.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_Ukea.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_bar.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_base.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_base_2.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_bridge.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_brig.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_captain.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_chapellibrary.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_chemlobby.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_courtlawreport.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_cryoclone.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_detdorms.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_engineering.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_hallways_1.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_hallways_2.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_hallways_3.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_janitooltech.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_kitchenbotany.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_medical.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_morguesurg.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_perma.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_robotics.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_salv.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_science.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_security.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_singulo.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_skyway.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_telecomsvault.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_xenoarch.yml
  Resources/Maps/_Umbra/Ukea/Tug.yml
  Resources/Maps/_Umbra/Ukea/TugTwo.yml
  Resources/Maps/gemini.yml
  Resources/Prototypes/_Umbra/Maps/ukea.yml
Labels: Changes: Map, Status: Needs Review

#33 Add Welds' RIG
  Resources/Prototypes/_Umbra/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Shoes/weldsbrace.rsi/equipped-FEET.png
  Resources/Textures/_Umbra/Clothing/Shoes/weldsbrace.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Shoes/weldsbrace.rsi/meta.json
Labels: Changes: Sprites, No C#

#39 Fateseeker's Gemstone!!
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/fateseekersgemstone.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/fateseekersgemstone.rsi/icon-active.png
  Resources/Textures/_Umbra/Objects/Fun/fateseekersgemstone.rsi/icon.png
  Resources/Textures/_Umbra/Objects/Fun/fateseekersgemstone.rsi/inhand-left.png
  Resources/Textures/_Umbra/Objects/Fun/fateseekersgemstone.rsi/inhand-right.png
  Resources/Textures/_Umbra/Objects/Fun/fateseekersgemstone.rsi/meta.json
Labels: Changes: Sprites, No C#

#47 Pen signing v2
  Content.Client/Paper/UI/StampWidget.xaml.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Locale/en-US/_Umbra/paper/paper-component.ftl
Labels: Changes: UI

#44 More umbra figurines
  Resources/Prototypes/_Umbra/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/figurine_boxes.yml
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/figurines.yml
  Resources/Textures/_Umbra/Objects/Fun/figurines.rsi/alma_botany.png
  Resources/Textures/_Umbra/Objects/Fun/figurines.rsi/las_salvage.png
  Resources/Textures/_Umbra/Objects/Fun/figurines.rsi/loops_qm.png
  Resources/Textures/_Umbra/Objects/Fun/figurines.rsi/meta.json
Labels: Changes: Sprites, No C#

#49 Carp suit
  Resources/Prototypes/_Umbra/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/carpsuit.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/carpsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/carpsuit.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/carpsuit.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/carpsuit.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/carpsuit.rsi/meta.json
Labels: Changes: Sprites, No C#

#55 Revert HoS hardsuit to upstream
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/inhand-right.png
Labels: Changes: Sprites, No C#

#46 Forehead ring marking
  Resources/Locale/en-US/_Umbra/markings/forehead.ftl
  Resources/Prototypes/_Umbra/Entities/Mobs/Customization/Markings/forehead.yml
  Resources/Textures/_Umbra/Mobs/Customization/forehead.rsi/meta.json
  Resources/Textures/_Umbra/Mobs/Customization/forehead.rsi/ring.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#59 Remove jackboots from quickthreads vendor
  Resources/Prototypes/_CD/Catalog/VendingMachines/Inventories/quickthreads.yml
Labels: No C#
