Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2024-08, with the labels that each got.

#103 Personal item: Hush's pendant
  Resources/Prototypes/_Umbra/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Neck/Misc/hushpendant.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/Clothing/Neck/Misc/hushpendant.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Neck/Misc/hushpendant.rsi/meta.json
Labels: Changes: Sprites, No C#

#99 Fix fax notification in admin chat not specifying anything useful
  Content.Server/Fax/FaxConstants.cs
  Content.Server/Fax/FaxSystem.cs
  Resources/Locale/en-US/fax/fax.ftl
Labels: Status: Needs Review

#97 Another try at Eris' Aids
  Resources/Prototypes/_Umbra/Entities/Clothing/Ears/erisaid.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Ears/Headsets/arcindhearaids.rsi/equipped-EARS.png
  Resources/Textures/_Umbra/Clothing/Ears/Headsets/arcindhearaids.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Ears/Headsets/arcindhearaids.rsi/meta.json
Labels: Changes: Sprites, No C#

#98 Added Juniper plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/plushie_juniper.png
Labels: Changes: Sprites, No C#

#100 Personal slime plush
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/plushie_eris.png
Labels: Changes: Sprites, No C#

#96 Update pet rock bobby
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
Labels: No C#, Status: Needs Review

#38 Necroa's salvage update
  Resources/Locale/en-US/_Umbra/procedural/expeditions.ftl
  Resources/Locale/en-US/_Umbra/procedural/salvage-faction.ftl
  Resources/Maps/_Umbra/Dungeon/geneticore.yml
  Resources/Prototypes/Procedural/biome_templates.yml
  Resources/Prototypes/_Umbra/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/_Umbra/Procedural/Themes/geneticore.yml
  Resources/Prototypes/_Umbra/Procedural/dungeon_configs.yml
  Resources/Prototypes/_Umbra/Procedural/salvage_factions.yml
  Resources/Prototypes/_Umbra/Procedural/salvage_mods.yml
  Resources/Prototypes/_Umbra/tags.yml
Labels: Changes: Map, No C#, Status: Needs Review

#93 Membral wings moth marking
  Resources/Locale/en-US/markings/moth.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Textures/Mobs/Customization/Moth/moth_wings.rsi/membral_primary.png
  Resources/Textures/Mobs/Customization/Moth/moth_wings.rsi/membral_secondary.png
  Resources/Textures/Mobs/Customization/Moth/moth_wings.rsi/meta.json
Labels: Changes: Sprites, No C#

#105 Added worn head sprites for deeja, jasmi, and juniper plushies
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/deeja-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/jasmi-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/juniper-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/meta.json
Labels: Changes: Sprites, No C#

#106 Sereketh's Ocean coat
  Resources/Prototypes/_Umbra/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/OuterClothing/WinterCoats/oceancoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/WinterCoats/oceancoat.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/WinterCoats/oceancoat.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/WinterCoats/oceancoat.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/WinterCoats/oceancoat.rsi/meta.json
Labels: Changes: Sprites, No C#

#113 Migrate Fishbowl to Proper Folder
  Resources/Maps/_Umbra/Shuttles/fishbowl.yml
Labels: Changes: Map, No C#

#110 Umbra Personal Plushie File Structure Reorganization
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_deeja.rsi/deeja-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_deeja.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_deeja.rsi/plushie_deeja.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_eris.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_eris.rsi/plushie_eris.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_jasmi.rsi/jasmi-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_jasmi.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_jasmi.rsi/plushie_jasmi.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_juniper.rsi/juniper-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_juniper.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_juniper.rsi/plushie_juniper.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_maple_mooondancer.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_maple_mooondancer.rsi/plushie_maple.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_oliver.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_oliver.rsi/plushie_oliver.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_vesper.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_vesper.rsi/plushie_vesper.png
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#125 Personal Item : Gar's Sweatpants
  Resources/Prototypes/_Umbra/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/garpants.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/garpants.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/garpants.rsi/meta.json
Labels: Changes: Sprites, No C#
