Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2024-06, with the labels that each got.

#60 adds clouds and duck poster (by kezu)
  Resources/Prototypes/_Umbra/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_Umbra/Structures/Wallmounts/posters.rsi/clouds_legit.png
  Resources/Textures/_Umbra/Structures/Wallmounts/posters.rsi/leduck_contraband.png
  Resources/Textures/_Umbra/Structures/Wallmounts/posters.rsi/meta.json
Labels: Changes: Sprites, No C#

#57 Fake immovable rod event
  Content.Server/_Umbra/StationEvents/Components/AnnouncementOnlyRuleComponent.cs
  Content.Server/_Umbra/StationEvents/Events/AnnouncementOnlyRule.cs
  Resources/Prototypes/_Umbra/GameRules/events.yml
Labels: No C#

#62 Clippy
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_clippy.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/emotionalsupportanimals.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_NF/Entities/Spawners/mobs.yml
  Resources/Prototypes/_NF/InventoryTemplates/emotionalsupportpet_inventory_template.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_NF/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mailman.rsi/equipped-HELMET-cat.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mailman.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mailman.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mailman.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mailman.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mailman.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/clurger.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/plate.png
Labels: Changes: Sprites, No C#

#65 Adds a personal tie item for mryikes
  Resources/Prototypes/_Umbra/Entities/Clothing/Neck/ties.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Neck/Ties/RyeTie.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/Clothing/Neck/Ties/RyeTie.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Neck/Ties/RyeTie.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Neck/Ties/RyeTie.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Neck/Ties/RyeTie.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#69 Update CODEOWNERS
  .github/CODEOWNERS
Labels: No C#

#70 veper
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/plushie_vesper.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#73 veper
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/plushie_vesper.png
Labels: Changes: Sprites, No C#
