Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2024-07, with the labels that each got.

#78 Remove the Bozelli lighter
  Resources/Prototypes/_Umbra/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Tools/lighters.rsi/lighter_flame.png
  Resources/Textures/_Umbra/Objects/Tools/lighters.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Tools/lighters.rsi/zippo-inhand-left-flame.png
  Resources/Textures/_Umbra/Objects/Tools/lighters.rsi/zippo-inhand-left.png
  Resources/Textures/_Umbra/Objects/Tools/lighters.rsi/zippo-inhand-right-flame.png
  Resources/Textures/_Umbra/Objects/Tools/lighters.rsi/zippo-inhand-right.png
  Resources/Textures/_Umbra/Objects/Tools/lighters.rsi/zippo_bozelli_base.png
  Resources/Textures/_Umbra/Objects/Tools/lighters.rsi/zippo_bozelli_open.png
  Resources/Textures/_Umbra/Objects/Tools/lighters.rsi/zippo_bozelli_top.png
Labels: Changes: Sprites, No C#

#76 Added Jasmi's personal rainbow flower
  Resources/Prototypes/_Umbra/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Head/jasmi-rainbow-hairflower.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/Clothing/Head/jasmi-rainbow-hairflower.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Head/jasmi-rainbow-hairflower.rsi/meta.json
Labels: Changes: Sprites, No C#

#75 New personal items: Borgs-the-Brains beret and scarf
  Resources/Prototypes/_Umbra/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Umbra/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Head/Hats/borgsberet.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/borgsberet.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/borgsberet.rsi/meta.json
  Resources/Textures/_Umbra/Clothing/Neck/Scarfs/borgsscarf.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/Clothing/Neck/Scarfs/borgsscarf.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Neck/Scarfs/borgsscarf.rsi/meta.json
Labels: Changes: Sprites, No C#

#77 Even more Umbra figurines!
  Resources/Prototypes/_Umbra/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/figurine_boxes.yml
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/figurines.yml
  Resources/Textures/_Umbra/Objects/Fun/figurines.rsi/jasmi_doctor.png
  Resources/Textures/_Umbra/Objects/Fun/figurines.rsi/jasmi_scientist.png
  Resources/Textures/_Umbra/Objects/Fun/figurines.rsi/john_scientist.png
  Resources/Textures/_Umbra/Objects/Fun/figurines.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#81 Add a helpful comment for personal item loadouts
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
Labels: No C#

#79 Add 3 New markings for the Reptilian race
  Resources/Locale/en-US/_Umbra/markings/reptillian.ftl
  Resources/Prototypes/_Umbra/Entities/Mobs/Customization/Markings/chest.yml
  Resources/Prototypes/_Umbra/Entities/Mobs/Customization/Markings/head.yml
  Resources/Textures/_Umbra/Mobs/Customization/aquaticbackfrills.rsi/AquaticBackFrills.png
  Resources/Textures/_Umbra/Mobs/Customization/aquaticbackfrills.rsi/meta.json
  Resources/Textures/_Umbra/Mobs/Customization/aquaticheadfrills.rsi/AquaticHeadFrills.png
  Resources/Textures/_Umbra/Mobs/Customization/aquaticheadfrills.rsi/meta.json
Labels: Changes: Sprites, No C#

#82 Personal item - Oliver's Plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/plushie_oliver.png
Labels: Changes: Sprites, No C#

#86 Renamed Jasmi's items
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
Labels: No C#

#90 fix the mystery figurine box not having the umbra figurines
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: No C#

#91 Roundstart Prisoner Tracking Implant
  Resources/Prototypes/_CD/Roles/Jobs/Wildcards/prisoner.yml
Labels: No C#

#94 Added Jasmi and Deeja plushies
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/plushie_deeja.png
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/plushie_jasmi.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#83 New personal item: Jotty's Pet Rock 'Bobby'
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/bobby.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/bobby.rsi/bobby.png
  Resources/Textures/_Umbra/Objects/Fun/bobby.rsi/meta.json
Labels: Changes: Sprites, No C#

#84 Add's a jacket personal Item for Sphiral/Nova
  Resources/Prototypes/_Umbra/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_Umbra/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Head/novagalaxyhood.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/Clothing/Head/novagalaxyhood.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Head/novagalaxyhood.rsi/meta.json
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/galaxycoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/galaxycoat.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/galaxycoat.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/galaxycoat.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/galaxycoat.rsi/meta.json
Labels: Changes: Sprites, No C#

#85 Remove QSI from Tech Tree
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/experimental.yml
Labels: Changes: Map, No C#
