Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2024-09, with the labels that each got.

#124 Add two new alert levels - Orange and White.
  Resources/Audio/_Umbra/Misc/attributions.yml
  Resources/Audio/_Umbra/Misc/orangealert.ogg
  Resources/Audio/_Umbra/Misc/whitealert.ogg
  Resources/Locale/en-US/_Umbra/alert-levels/alert-levels.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: No C#

#131 Personal Item: Gar-Tei's Plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_gartei.rsi/gartei-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_gartei.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_gartei.rsi/plushie_gartei.png
Labels: Changes: Sprites, No C#

#137 Personal Item: Michael's Card
  Resources/Locale/en-US/_Umbra/paper/michaels-card.ftl
  Resources/Prototypes/_Umbra/Entities/Objects/Misc/Books/michaels_card.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Misc/Books/michaels_card.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Misc/Books/michaels_card.rsi/michaels_card.png
Labels: Changes: Sprites, No C#

#135 Personal Item: Ardus' Bandana
  Resources/Prototypes/_Umbra/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Head/Hats/ardus-bandana.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/ardus-bandana.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/ardus-bandana.rsi/meta.json
Labels: Changes: Sprites, No C#

#136 Cosmatic pick
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/_CD/Engraving/EngraveableComponent.cs
  Content.Server/_CD/Engraving/EngraveableSystem.cs
  Content.Server/_CD/Records/CharacterRecordsSystem.cs
  Content.Server/_CD/Records/SkipLoadingCharacterRecordsComponent.cs
  Content.Server/_CD/Spawners/ArrivalsSpawnPointComponent.cs
  Content.Server/_CD/Spawners/ArrivalsSpawnPointSystem.cs
  Content.Shared/Stacks/SharedStackSystem.cs
  Resources/Locale/en-US/_CD/engraving/engraving.ftl
  Resources/Locale/en-US/_CD/markings/synthetic.ftl
  Resources/Locale/en-US/_CD/station/events.ftl
  Resources/Locale/en-US/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/_CD/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_CD/Entities/Mobs/Customization/Markings/synthetic.yml
  Resources/Prototypes/_CD/Entities/Objects/Misc/dogtags.yml
  Resources/Prototypes/_CD/Guidebook/species.yml
  Resources/Prototypes/_CD/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_CD/Voice/lay_emotes.yml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/Guidebook/_CD/Mobs/Avali.xml
  Resources/ServerInfo/Guidebook/_CD/Mobs/Vulpkanin.xml
  Resources/Textures/_CD/Mobs/Customization/Synthliz/antennas.rsi/horn_antenna_curl.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/antennas.rsi/horn_antenna_sharp.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/antennas.rsi/horn_antenna_sharp_light.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/antennas.rsi/horn_antenna_short.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/antennas.rsi/horn_antenna_slash.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/antennas.rsi/horn_antenna_thick.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/antennas.rsi/horn_antenna_thick_light.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/antennas.rsi/horn_antenna_twin.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/antennas.rsi/horn_antenna_twin_light.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/antennas.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/Synthliz/body_markings.rsi/body_lights_primary.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/body_markings.rsi/body_lights_secondary.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/body_markings.rsi/body_pecs_primary.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/body_markings.rsi/body_pecs_secondary.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/body_markings.rsi/body_plate.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/body_markings.rsi/body_scute.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/body_markings.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/Synthliz/snouts.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/Synthliz/snouts.rsi/synthsnout_eyes.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/snouts.rsi/synthsnout_frame.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/snouts.rsi/synthsnout_snout.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/snouts.rsi/synthsnout_visor.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/tails.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/Synthliz/tails.rsi/tail_synthliz.png
  Resources/Textures/_CD/Mobs/Customization/Synthliz/tails.rsi/tail_synthliz_wagging.png
  Resources/Textures/_CD/Objects/Misc/dogtags.rsi/dogtag.png
  Resources/Textures/_CD/Objects/Misc/dogtags.rsi/equipped-NECK.png
  Resources/Textures/_CD/Objects/Misc/dogtags.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#146 Disable most unwanted antag roles from autorolling.
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#

#147 Fix random capitalization issue
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
Labels: No C#

#148 Fix Changed Owner Names on Personal Items
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Entities/Objects/Misc/Books/michaels_card.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Textures/_Umbra/Clothing/Hands/Rings/annies_ring.rsi/meta.json
  Resources/Textures/_Umbra/Clothing/Hands/Rings/michaels_ring.rsi/meta.json
Labels: No C#

#104 Revives Iris
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Umbra/Shuttles/emergency_iris.yml
  Resources/Maps/_Umbra/iris.yml
  Resources/Prototypes/_Umbra/Maps/iris.yml
Labels: Changes: Map, Status: Needs Review

#150 Run-Amok Plushie personal item.
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_amok.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_amok.rsi/plushie_amok-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Toys/plushie_amok.rsi/plushie_amok.png
Labels: Changes: Sprites, No C#

#142 Personal Item: Drugeristic Suit
  Resources/Prototypes/_Umbra/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/personal_items.yml
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/drugersuit.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/drugersuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/drugersuit.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/drugersuit.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/drugersuit.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/drugersuit.rsi/meta.json
Labels: Changes: Sprites, No C#
