Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2024-04, with the labels that each got.

#5 Terminal update
  Resources/Maps/Misc/terminal.yml
Labels: No C#, Status: Needs Review

#6 Event scheduler
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Needs Review

#7 Switch to upstream cryogenics system
  Resources/migration.yml
Labels: No C#

#11 Add a new personal item: Maple Moondancer Plushie
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/toys.rsi/plushie_maple.png
Labels: Changes: Sprites, No C#

#8 Add Reading's reading glasses, personal item
  Resources/Prototypes/_Umbra/Entities/Clothing/Eyes/glasses.yml
  Resources/Textures/_Umbra/Clothing/Eyes/Glasses/readingglasses.rsi/equipped-EYES.png
  Resources/Textures/_Umbra/Clothing/Eyes/Glasses/readingglasses.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Eyes/Glasses/readingglasses.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Eyes/Glasses/readingglasses.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Eyes/Glasses/readingglasses.rsi/meta.json
Labels: Changes: Sprites, No C#

#13 Change Several Roletimers
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
Labels: No C#, Status: Needs Review

#16 Roletimers 2
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/_CD/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/_CD/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/_CD/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/_CD/Roles/Jobs/Security/senior_officer.yml
Labels: No C#, Status: Needs Review

#18 Ukea (Credit: IProduceWidgets)
  Resources/Maps/_Umbra/Ukea/Diesel.yml
  Resources/Maps/_Umbra/Ukea/Jigsaw_Ukea_map.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_CEatmos.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_HoPEVAclown.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_QMcargo.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_RDanom.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_Ukea.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_bar.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_base.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_base_2.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_bridge.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_brig.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_captain.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_chapellibrary.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_chemlobby.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_courtlawreport.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_cryoclone.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_detdorms.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_engineering.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_hallways_1.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_hallways_2.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_hallways_3.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_janitooltech.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_kitchenbotany.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_medical.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_morguesurg.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_perma.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_robotics.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_salv.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_science.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_security.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_singulo.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_skyway.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_telecomsvault.yml
  Resources/Maps/_Umbra/Ukea/Modulars/Jigsaw_xenoarch.yml
  Resources/Maps/_Umbra/Ukea/Tug.yml
  Resources/Maps/_Umbra/Ukea/TugTwo.yml
  Resources/Prototypes/_Umbra/Maps/ukea.yml
Labels: No C#

#20 Add Miles' Flower Braid
  Resources/Prototypes/_Umbra/Entities/Clothing/Head/misc.yml
  Resources/Textures/_Umbra/Clothing/Head/georgia-flower-braid.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/Clothing/Head/georgia-flower-braid.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Head/georgia-flower-braid.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#19 Add Yarna Armoured Coat
  Resources/Prototypes/_Umbra/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/yarnaarmouredcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/yarnaarmouredcoat.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/yarnaarmouredcoat.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/yarnaarmouredcoat.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/yarnaarmouredcoat.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#25 Add senior role jobs to Saltern, Train and Oasis
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
Labels: Changes: Map, No C#

#24 Make APCs explode (when turned on) after a random delay during a power grid check.
  Content.Server/Power/Components/ElectricalOverloadComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/EntitySystems/ElectricalOverloadSystem.cs
  Content.Server/StationEvents/Events/PowerGridCheckRule.cs
  Resources/Locale/en-US/power/overload.ftl
Labels: Status: Needs Review

#27 Remove moonlit coat and holster
  Resources/Prototypes/_Umbra/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Umbra/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/_Umbra/Clothing/Belt/moonlit.rsi/equipped-BELT.png
  Resources/Textures/_Umbra/Clothing/Belt/moonlit.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Belt/moonlit.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Belt/moonlit.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Belt/moonlit.rsi/meta.json
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/coatmoonlit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/coatmoonlit.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/coatmoonlit.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/coatmoonlit.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/OuterClothing/Coats/coatmoonlit.rsi/meta.json
Labels: Changes: Sprites, No C#
