Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2025-03, with the labels that each got.

#306 Personal Item: Isathei Plushie
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/isatheiplushie.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/isatheiplushie.rsi/isathei-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/isatheiplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/isatheiplushie.rsi/plushie_isathei.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/isatheiplushie.rsi/plushielizard-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/isatheiplushie.rsi/plushielizard-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#308 Personal Item: Cooks-The-Meth plushie
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/cooksplushie.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/cooks-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/plushie_cooks.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/plushielizard-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/plushielizard-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#311 Personal Item Fix: Evelyn Collar
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
Labels: S: Untriaged, Changes: No C#, size/XS, S: Needs Review

#309 Tako plush inhand
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/plushielizard-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/plushielizard-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#303 Merging CD PRs - Avali Cold Speed, Convex Station and Lathe Changes
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Maps/convex.yml
  Resources/Prototypes/_CD/Entities/Mobs/Species/avali.yml
  Resources/Prototypes/_CD/Entities/Objects/Weapons/Bombs/breaching.yml
  Resources/Prototypes/_CD/Recipes/Lathes/Packs/cdpacks.yml
  Resources/Prototypes/_CD/Recipes/Lathes/security.yml
  Resources/Textures/_CD/Objects/Weapons/Bombs/breaching.rsi/icon.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/breaching.rsi/inhand-left.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/breaching.rsi/inhand-right.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/breaching.rsi/meta.json
  Resources/Textures/_CD/Objects/Weapons/Bombs/breaching.rsi/primed.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/flashbreaching.rsi/icon.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/flashbreaching.rsi/inhand-left.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/flashbreaching.rsi/inhand-right.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/flashbreaching.rsi/meta.json
  Resources/Textures/_CD/Objects/Weapons/Bombs/flashbreaching.rsi/primed.png
Labels: Changes: Map, Changes: Sprites, S: Untriaged, Changes: No C#, size/M, S: Needs Review

#313 Fixed Broken Monitor and Search Reason Text
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
Labels: Changes: UI, S: Untriaged, size/XS

#310 Personal Item: Varii's Button Up
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/variisisbuttonup.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/variisisbuttonup.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/variisisbuttonup.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/variisisbuttonup.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#318 Fixed Terminal
  Resources/Maps/Misc/terminal.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/S

#314 Mantidae survival box + raw meat consumption
  Resources/Locale/en-US/_Umbra/metabolism/metabolizer-types.ftl
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_Umbra/Body/Organs/mantidae.yml
  Resources/Prototypes/_Umbra/Chemistry/metabolizer_types.yml
Labels: S: Untriaged, Changes: No C#, size/XS, S: Needs Review

#315 More Mantidae Markings
  Resources/Locale/en-US/_Umbra/markings/mantidae.ftl
  Resources/Prototypes/_Umbra/Entities/Mobs/Customization/Markings/mantidae.yml
  Resources/Textures/_Umbra/Mobs/Customization/Mantidae/mantidae.rsi/antennae_curved.png
  Resources/Textures/_Umbra/Mobs/Customization/Mantidae/mantidae.rsi/antennae_dual.png
  Resources/Textures/_Umbra/Mobs/Customization/Mantidae/mantidae.rsi/l_curved.png
  Resources/Textures/_Umbra/Mobs/Customization/Mantidae/mantidae.rsi/l_inverted.png
  Resources/Textures/_Umbra/Mobs/Customization/Mantidae/mantidae.rsi/l_short.png
  Resources/Textures/_Umbra/Mobs/Customization/Mantidae/mantidae.rsi/l_spiked.png
  Resources/Textures/_Umbra/Mobs/Customization/Mantidae/mantidae.rsi/meta.json
  Resources/Textures/_Umbra/Mobs/Customization/Mantidae/mantidae.rsi/r_curved.png
  Resources/Textures/_Umbra/Mobs/Customization/Mantidae/mantidae.rsi/r_inverted.png
  Resources/Textures/_Umbra/Mobs/Customization/Mantidae/mantidae.rsi/r_short.png
  Resources/Textures/_Umbra/Mobs/Customization/Mantidae/mantidae.rsi/r_spiked.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#320 Tweaks Cassette Tape and Recorder
  Resources/Prototypes/_CD/Entities/Objects/Devices/tape_recorder.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#321 Cleanup Personal Items
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/ardusbandana.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/jasmirainbowflower.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/ryeversitie.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/yarnaarmourcoat.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/ardusbandana.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/ardusbandana.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/ardusbandana.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Wearables/jasmirainbowflower.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/jasmirainbowflower.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/jasmirainbowflower.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Wearables/ryeversitie.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/ryeversitie.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/ryeversitie.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/ryeversitie.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/ryeversitie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Wearables/yarnaarmouredcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/yarnaarmouredcoat.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/yarnaarmouredcoat.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/yarnaarmouredcoat.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/yarnaarmouredcoat.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#316 New Central Command
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Umbra/centcomm.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Maps/centcomm.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL, S: Needs Review

#324 Personal item: Erikrax Plushie
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/erikraxplushie.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/erikraxplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/erikraxplushie.rsi/plushie_erikrax.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/erikraxplushie_64.rsi/erikrax-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/erikraxplushie_64.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#328 Fixed errors with cooks-the-meth plushie sprite
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/cooks-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/plushielizard-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/plushielizard-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#329 Personal Item: Alphard's Sweater
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/alphardsweater.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/alphardsweater.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/alphardsweater.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/alphardsweater.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/alphardsweater.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/alphardsweater.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#326 Centcomm Update :3
  Resources/Maps/_Umbra/centcomm.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M
