Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2025-08, with the labels that each got.

#409 Fix allergies migration
  Content.Server.Database/Migrations/Postgres/20250609134446_CDAllergies.cs
Labels: S: Untriaged, S: Needs Review, size/S

#412 Fixed Character for Damien's Nanoweave Mantle
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/damiennanoweavemantle.yml
Labels: S: Untriaged, Changes: No C#, size/XS, S: Needs Review

#413 Add New Poster
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Umbra/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_Umbra/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_Umbra/Structures/Wallmounts/posters.rsi/playnice.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#407 Syndicate related event grids
  Resources/Maps/_Umbra/Grids/SyndieAsteroid.yml
  Resources/Maps/_Umbra/Grids/SyndieOutpost.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#419 Adds notifications for any database changes to Host
  .github/CODEOWNERS
Labels: S: Untriaged, Changes: No C#, size/XS, S: Needs Review

#418 Syndicate Commander cap and outfit
  Resources/Prototypes/_Umbra/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Umbra/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Umbra/Clothing/Head/Hats/syndicatecommandcap.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/syndicatecommandcap.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/syndicatecommandcap.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/syndicatecommandcap.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Head/Hats/syndicatecommandcap.rsi/meta.json
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/syndicategreat.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/syndicategreat.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/syndicategreat.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/syndicategreat.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Uniforms/Jumpsuit/syndicategreat.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#427 Aelvanni Zavia's Hoodie Personal Item
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/mindokdrillhat.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/zaviahoodie.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/mindokdrillhat.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/mindokdrillhat.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/mindokdrillhat.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/mindokdrillhat.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/mindokdrillhat.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Wearables/zaviahoodie.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/zaviahoodie.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/zaviahoodie.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/zaviahoodie.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/zaviahoodie.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#430 Fix Friends Plushies Inconsistency
  Resources/Textures/_Umbra/PersonalItems/Plushies/dartingplushie.rsi/spacelizard-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/dartingplushie.rsi/spacelizard-inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/kaiplushie.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/kaiplushie.rsi/inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS, S: Needs Review

#429 Better tako plushie
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/takoplushie.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/holding-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/holding-inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/tako-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie_64.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie_64.rsi/holding-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie_64.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#433 Revert "Accidental discharge (#432)"
  Content.Server/_Moffstation/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Wieldable/SharedWieldableSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#435 New Map: Wonderland
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Umbra/wonderland.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Umbra/Maps/wonderland.yml
Labels: Changes: Map, S: Untriaged, size/XL, S: Needs Review
