Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2025-05, with the labels that each got.

#335 Letter Debug Item
  Resources/Prototypes/_Umbra/Entities/Objects/Misc/letterdebug.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#342 Personal Item - Calliope's medal
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/calliopemedal.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/calliopemedal.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/calliopemedal.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/calliopemedal.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#341 Port CD Mime Writing
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: Changes: No C#, size/XS

#345 Rework Set-Pose to Set-Examine
  Content.Client/_RMC/Examine/RMCSetPoseSystem.cs
  Content.Client/_Umbra/Examine/SetExamineSystem.cs
  Content.Server/_RMC/Examine/RMCSetPoseSystem.cs
  Content.Server/_Umbra/Examine/SetExamineSystem.cs
  Content.Shared/_RMC/Examine/Pose/RMCSetPoseComponent.cs
  Content.Shared/_RMC/Examine/Pose/SharedRMCSetPoseSystem.cs
  Content.Shared/_Umbra/Examine/SetExamine/SetExamineComponent.cs
  Content.Shared/_Umbra/Examine/SetExamine/SharedSetExamineSystem.cs
  Resources/Locale/en-US/_RMC/pose/set-pose.ftl
  Resources/Locale/en-US/_Umbra/examine/set-examine.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Umbra/Actions/roleplay.yml
  Resources/Textures/_Umbra/Interface/Actions/set-pose.rsi/eyeopen.png
  Resources/Textures/_Umbra/Interface/Actions/set-pose.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M, S: Needs Review

#349 Eiliko long lost pendant
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/eilikopendant.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/eilikospendant.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/eilikospendant.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/eilikospendant.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/eilikospendant.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/eilikospendant.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#355 Prime update
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Harmony/Shuttles/emergency_jeremiah.yml
  Resources/Maps/_Harmony/prime.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Harmony/Maps/prime.yml
  Resources/migration.yml
Labels: Changes: Map, size/XL, S: Needs Review

#356 FINALLY fixes rat king spawning
  Resources/Prototypes/GameRules/pests.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#354 Port valley girl accent from LateStation14
  Content.Server/_LateStation/Speech/Components/ValleyGirlAccentComponent.cs
  Content.Server/_LateStation/Speech/EntitySystems/ValleyGirlAccentSystem.cs
  Resources/Locale/en-US/_LateStation/accents/valleygirl.ftl
  Resources/Locale/en-US/_LateStation/traits/traits.ftl
  Resources/Prototypes/_LateStation/Accents/word_replacements.yml
  Resources/Prototypes/_LateStation/Traits/speech.yml
Labels: S: DO NOT MERGE, S: Untriaged, size/M
