Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2025-07, with the labels that each got.

#395 Removs Ferrous Station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_CD/ferrous.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_CD/Maps/ferrous.yml
Labels: Changes: Map, size/XL

#393 Fixes Item sprites for Plushie Personal Items
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/cooksplushie.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/coridinoplushie.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/dartingplushie.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/dutchieplushie.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/garplushie.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/takoplushie.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/cooksplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/coridinoplushie.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/coridinoplushie.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/coridinoplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/dartingplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/dartingplushie.rsi/spacelizard-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/dartingplushie.rsi/spacelizard-inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/dutchieplushie.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/dutchieplushie.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/dutchieplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/garplushie.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/garplushie.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/garplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#396 Fixes Fateseeker's Gemstone Pointlight
  Resources/Prototypes/_Umbra/PersonalItems/Items/fateseekergemstone.yml
Labels: S: Untriaged, Changes: No C#, size/S

#400 Prosthetics for Moths, Vulps and Feroxi, increase of Feroxi and Vulp arm and leg marking limits.
  Resources/Prototypes/_CD/Entities/Mobs/Customization/Markings/generic.yml
  Resources/Prototypes/_CD/Species/vulpkanin.yml
  Resources/Prototypes/_DV/Species/feroxi.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#392 Personal Item - Alexi Ullman - Alexi's jacket
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/alexijacket.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/alexijacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/alexijacket.rsi/icon-open.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/alexijacket.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/alexijacket.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/alexijacket.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/alexijacket.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Wearables/alexijacket.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/alexijacket.rsi/open-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/alexijacket.rsi/open-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#401 Changes Bloodpacks into RMC versions
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Entities/Clothing/Back/smuggler_tables.yml
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries_tables.yml
  Resources/Prototypes/Entities/Objects/Deliveries/package_rare_tables.yml
  Resources/Prototypes/_RMC/Entities/Structures/Marchines/Medical/iv.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S
