Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2025-02, with the labels that each got.

#280 Crimson's Mimic Scarf (Personal item)
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#282 Personal Item: Skylight plushie
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/skylightplushie.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/skylightplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/skylightplushie.rsi/skylight-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/skylightplushie.rsi/skylight_plushie.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#283 Personal Item: Angel plushie
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/angelplushie.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/angelplushie.rsi/angel-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/angelplushie.rsi/angel_plushie.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/angelplushie.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#286 Arrivals Terminal update
  Resources/Maps/Misc/terminal.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/S

#294 Personal item sprite fix
  Resources/Textures/_Umbra/PersonalItems/Items/johanscodex.rsi/screen.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#293 De-Rotate Saltern Station & Make Low-Pop Stations 0 Player Minimums
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#289 Personal Item Fix: Dart Plushie
  Resources/Textures/_Umbra/PersonalItems/Plushies/dartingplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/dartingplushie.rsi/spacelizard-equipped-HELMET.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#291 Tako-Ja Plushie
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/takoplushie.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/plushie_tako.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/tako-equipped-HELMET.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#292 Sparks of plushie
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/hopeplushie.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/hopeplushie.rsi/hope-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/hopeplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/hopeplushie.rsi/plushie_hope.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#297 Update clusterprime.yml
  Resources/Maps/_Umbra/clusterprime.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M

#298 Tako and Sparks Plushies Meta
  Resources/Textures/_Umbra/PersonalItems/Plushies/hopeplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/takoplushie.rsi/meta.json
Labels: Changes: No C#, size/XS

#301 Personal Item Changes: June Mothe's Coat
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/mothecoat.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/mothehood.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/mothecoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/mothecoat.rsi/icon-open.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/mothecoat.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Wearables/mothecoat.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/mothehood.rsi/equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/mothehood.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/mothehood.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#299 Sandals
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/_Umbra/Entities/Clothing/Shoes/Misc/sandals.yml
  Resources/Textures/_Umbra/Clothing/Shoes/Misc/sandals.rsi/equipped-FEET.png
  Resources/Textures/_Umbra/Clothing/Shoes/Misc/sandals.rsi/icon.png
  Resources/Textures/_Umbra/Clothing/Shoes/Misc/sandals.rsi/inhand-left.png
  Resources/Textures/_Umbra/Clothing/Shoes/Misc/sandals.rsi/inhand-right.png
  Resources/Textures/_Umbra/Clothing/Shoes/Misc/sandals.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#300 Personal Item: Evelyn Owlbane's Collar
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/evelyncollar.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/evelyncollar.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/evelyncollar.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/evelyncollar.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/evelyncollar.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/evelyncollar.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#305 Removing Personal Items: Hush's Pendant, Esther Plushie
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/estherplushie.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/hushpendant.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/estherplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/estherplushie.rsi/plushie_esther.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/hushpendant.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/hushpendant.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/hushpendant.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review
