Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2025-01, with the labels that each got.

#254 Add in-hand sprites for Gar-Tei plush
  Resources/Textures/_Umbra/PersonalItems/Plushies/garplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/garplushie.rsi/plushielizard-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/garplushie.rsi/plushielizard-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#255 Add in-hand sprites for Dutchie plush
  Resources/Textures/_Umbra/PersonalItems/Plushies/dutchieplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/dutchieplushie.rsi/plushielizard-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/dutchieplushie.rsi/plushielizard-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#256 Personal Item: Tempestas' Maid Dress
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/tempestasmaiddress.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/tempestasmaiddress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/tempestasmaiddress.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/tempestasmaiddress.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/tempestasmaiddress.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/tempestasmaiddress.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#257 Personal Item: Tempestas' Ballet Heels
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/tempestasballetheels.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/tempestasballetheels.rsi/equipped-FEET.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/tempestasballetheels.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/tempestasballetheels.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/tempestasballetheels.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/tempestasballetheels.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#258 Personal Item: Buckshot's Jumpskirt
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/buckshotjumpskirt.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/buckshotjumpskirt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/buckshotjumpskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/buckshotjumpskirt.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/buckshotjumpskirt.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/buckshotjumpskirt.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/buckshotjumpskirt.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#260 Personal Item: Melody Moon's Five-String
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Items/melodybass.yml
  Resources/Textures/_Umbra/PersonalItems/Items/melodybass.rsi/equipped-BACKPACK.png
  Resources/Textures/_Umbra/PersonalItems/Items/melodybass.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Umbra/PersonalItems/Items/melodybass.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Items/melodybass.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Items/melodybass.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Items/melodybass.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Merge Conflict

#261 Personal Item: Reet-Marsh's Pan Flute
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Items/reetpanflute.yml
  Resources/Textures/_Umbra/PersonalItems/Items/reetpanflute.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Items/reetpanflute.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Items/reetpanflute.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Items/reetpanflute.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#265 Personal Item Fixes: Karaki's Nanoweave Mantle
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/karakinanoweavemantle.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/karakinanoweavemantle.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/karakinanoweavemantle.rsi/icon-open.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/karakinanoweavemantle.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/karakinanoweavemantle.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/karakinanoweavemantle.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/karakinanoweavemantle.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Wearables/karakinanoweavemantle.rsi/open-equipped-NECK.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/karakinanoweavemantle.rsi/open-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/karakinanoweavemantle.rsi/open-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#264 Personal Item: Omi Plushie
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/omipluishie.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/omiplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/omiplushie.rsi/omi-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/omiplushie.rsi/plushie_omi.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#266 Adding new Wanted Status - From Harmony Station
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Shared/CriminalRecords/Systems/SharedCriminalRecordsSystem.cs
  Content.Shared/Security/SecurityStatus.cs
  Resources/Locale/en-US/_Harmony/criminal-records/criminal-records.ftl
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Prototypes/_Harmony/StatusIcon/security.yml
  Resources/Textures/_Harmony/Interface/Misc/security_icons.rsi/hud_monitor.png
  Resources/Textures/_Harmony/Interface/Misc/security_icons.rsi/hud_search.png
  Resources/Textures/_Harmony/Interface/Misc/security_icons.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, S: Untriaged, S: Needs Review, size/S

#269 Cluster update round two
  Resources/Maps/_Umbra/Shuttles/emergency_jeremiah.yml
  Resources/Maps/_Umbra/clusterprime.yml
  Resources/Prototypes/_Umbra/Maps/clusterprime.yml
Labels: Changes: Map, Changes: No C#, size/XL

#268 Making the Red Phone now a Centcomm Intercom
  Resources/Prototypes/_Umbra/Entities/Objects/Devices/red_phone.yml
  Resources/migration.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#270 Fix Cargo Dock
  Resources/Maps/_Umbra/clusterprime.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#273 Add CPR (From RMC)
  Content.Shared/_RMC/Medical/CPR/CPRDoAfterEvent.cs
  Content.Shared/_RMC/Medical/CPR/CPRPerformerComponent.cs
  Content.Shared/_RMC/Medical/CPR/CPRRecievedComponent.cs
  Content.Shared/_RMC/Medical/CPR/CPRSystem.cs
  Content.Shared/_RMC/Medical/CPR/PerformCPRAttemptEvent.cs
  Content.Shared/_RMC/Medical/CPR/ReceivingCPRComponent.cs
  Content.Shared/_RMC/Medical/CPR/RecieveCPRAttemptEvent.cs
  Resources/Locale/en-US/_RMC/medical/cpr.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: S: Untriaged, size/M, S: Needs Review

#278 Minor Guidebook update
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
Labels: Changes: No C#, size/XS

#275 [Personal Item] Crimson Luxuaria's machinist overalls
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/crimsonoveralls.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonoveralls.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonoveralls.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonoveralls.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonoveralls.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonoveralls.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#262 Added Back Unclonable Trait - From Wizden
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/_Umbra/Traits/Assorted/UncloneableComponent.cs
  Resources/Locale/en-US/_Umbra/traits/traits.ftl
  Resources/Locale/en-US/medical/components/cloning-console-component.ftl
  Resources/Prototypes/_Umbra/Traits/disabilities.yml
Labels: S: Untriaged, S: Needs Review, size/S
