Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2025-04, with the labels that each got.

#330 Personal Item: Katie Fae's Wristband
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/katiewristband.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/katiewristband.rsi/equipped-HAND.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/katiewristband.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/katiewristband.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#319 Personal Item for TheChudster, EN Voyage
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Items/voyagepen.yml
  Resources/Textures/_Umbra/PersonalItems/Items/voyagepen.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Items/voyagepen.rsi/pen-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Items/voyagepen.rsi/pen-inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Items/voyagepen.rsi/pen.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#332 Port RMC14's "Set-Pose"
  Content.Client/_RMC/Examine/RMCSetPoseSystem.cs
  Content.Server/_RMC/Examine/RMCSetPoseSystem.cs
  Content.Shared/_RMC/Examine/Pose/RMCSetPoseComponent.cs
  Content.Shared/_RMC/Examine/Pose/SharedRMCSetPoseSystem.cs
  Resources/Locale/en-US/_RMC/pose/set-pose.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: S: Untriaged, size/M

#334 Cluster
  Resources/Maps/_Umbra/clusterprime.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL, S: Needs Review

#333 Personal Item: Tee-Gam's CMO Trophy
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Items/teecmotrophy.yml
  Resources/Textures/_Umbra/PersonalItems/Items/teecmotrophy.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Items/teecmotrophy.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S
