Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2025-06, with the labels that each got.

#361 increase time it takes for holopad to hang up during idle call activity
  Content.Shared/Telephone/TelephoneComponent.cs
Labels: S: Untriaged, size/XS

#357 port most ai core screens from tg station
  Resources/Locale/en-US/_Umbra/silicons/ai_screens.ftl
  Resources/Prototypes/AppearanceCustomization/station_ai.yml
  Resources/Prototypes/_Umbra/Entities/Mobs/Silicon/AI/station_ai_screens.yml
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_alien.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_alien_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_database.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_database_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_evil_dot.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_evil_dot_transition.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_firewall.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_fuzzy.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_gentoo.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_gentoo_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_glitchman.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_glitchman_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_goon.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_goon_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_hades.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_hades_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_hades_death_transition.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_helios.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_inverted.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_matrix.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_meow.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_monochrome.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_monochrome_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_murica.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_murica_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_nanotrasen.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_not_malf.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_president.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_rainbow.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_rainbow_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_red.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_red_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_red_october.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_red_october_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_static.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_static_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_text.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_thinking.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_thinking_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_too_deep.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_triumvirate.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_weird.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/ai_weird_dead.png
  Resources/Textures/_Umbra/Mobs/Silicon/AI/ai_screens.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#360 Personal Item - Lutla's ring
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/lutlaring.yml
  Resources/Textures/_Umbra/PersonalItems/Wearables/lutlaring.rsi/lutlaring.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/lutlaring.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#364 Change random_characters to false for development builds
  Resources/ConfigPresets/Build/development.toml
Labels: Changes: No C#, size/XS, S: Needs Review

#363 Remove Requested Personal Items
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/isatheiplushie.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/crimsonoveralls.yml
  Resources/Prototypes/_Umbra/PersonalItems/Wearables/isatheicoat.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/isatheiplushie.rsi/isathei-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/isatheiplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/isatheiplushie.rsi/plushie_isathei.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/isatheiplushie.rsi/plushielizard-inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/isatheiplushie.rsi/plushielizard-inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.rsi/equipped-NECK.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonmimicscarf.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonoveralls.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonoveralls.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonoveralls.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonoveralls.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/crimsonoveralls.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Wearables/isatheicoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/isatheicoat.rsi/icon.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/isatheicoat.rsi/inhand-left.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/isatheicoat.rsi/inhand-right.png
  Resources/Textures/_Umbra/PersonalItems/Wearables/isatheicoat.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#350 Added Avali plushie.
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/_Umbra/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_Umbra/Objects/Fun/Plushies/Avali.rsi/avali-equipped-HELMET.png
  Resources/Textures/_Umbra/Objects/Fun/Plushies/Avali.rsi/icon.png
  Resources/Textures/_Umbra/Objects/Fun/Plushies/Avali.rsi/meta.json
  Resources/Textures/_Umbra/Objects/Fun/Plushies/Avali.rsi/plushieavali-inhand-left.png
  Resources/Textures/_Umbra/Objects/Fun/Plushies/Avali.rsi/plushieavali-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#351 Custom Schedulers
  Content.IntegrationTests/Tests/GameRules/FailAndStartPresetTest.cs
  Content.Shared/CCVar/CCVars.Game.cs
  Resources/Locale/en-US/_Umbra/game-ticking/game-presets.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Umbra/game_presets.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: S: Untriaged, S: Needs Review, size/S

#368 Personal Item: Jaytau's book
  Resources/Locale/en-US/_Umbra/personal-items/jaytau-book.ftl
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Items/jaytaubook.yml
  Resources/Textures/_Umbra/PersonalItems/Items/jaytaubook.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Items/jaytaubook.rsi/paper.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#362 Port: "Prime - Third Update" & "Sentries and Higher starting players." from Harmony
  Resources/Maps/_Harmony/prime.yml
  Resources/Prototypes/_Harmony/Maps/prime.yml
Labels: Changes: Map, Changes: No C#, size/XL, S: Needs Review

#373 Prevents antags from spawning naturally on scheduled shifts
  Resources/Prototypes/_Umbra/GameRules/roundstart.yml
  Resources/Prototypes/_Umbra/game_presets.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#378 Setpose now works when cuffed, dead, crit, or asleep
  Resources/Prototypes/_Umbra/Actions/roleplay.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#376 Extended no longer shows up in the vote for players.
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, Changes: No C#
