Repository Sector-Umbra/Sector-Umbra, pull requests merged in 2025-09, with the labels that each got.

#441 Personal Item: Dawn's plushie
  Resources/Prototypes/_Umbra/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Umbra/PersonalItems/Plushies/dawnplushie.yml
  Resources/Textures/_Umbra/PersonalItems/Plushies/dawnplushie.rsi/dawn-equipped-HELMET.png
  Resources/Textures/_Umbra/PersonalItems/Plushies/dawnplushie.rsi/meta.json
  Resources/Textures/_Umbra/PersonalItems/Plushies/dawnplushie.rsi/plushie_dawn.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#439 Moffstation Merge [01/09/25]
  Content.Server/_Moffstation/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Wieldable/SharedWieldableSystem.cs
  Resources/Locale/en-US/_Moffstation/markings/reptilian_markings.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Clothing/Masks/base_clothingmask.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_Moffstation/Entities/Mobs/Customization/Markings/reptilian_markings.yml
  Resources/Prototypes/_Moffstation/tags.yml
  Resources/Textures/_Moffstation/Mobs/Customization/Reptilian/dragon_eye.rsi/meta.json
  Resources/Textures/_Moffstation/Mobs/Customization/Reptilian/dragon_eye.rsi/tattoo_eye_dragon_color.png
  Resources/Textures/_Moffstation/Mobs/Customization/Reptilian/dragon_eye.rsi/tattoo_eye_dragon_shadow.png
Labels: Changes: Sprites, S: Untriaged, size/M, S: Needs Review

#426 Music to jukebox
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml.cs
  Resources/Audio/_Umbra/Jukebox/Beat Mekanik - Senseless.ogg
  Resources/Audio/_Umbra/Jukebox/Beat Mekanik - Sinner.ogg
  Resources/Audio/_Umbra/Jukebox/Dustsucker.ogg
  Resources/Audio/_Umbra/Jukebox/Ketsa - Life is Great.ogg
  Resources/Audio/_Umbra/Jukebox/Laughing Manny & The Swinging Dicks - Bring In The Horns.ogg
  Resources/Audio/_Umbra/Jukebox/Laughing Manny & The Swinging Dicks - Caffeinated.ogg
  Resources/Audio/_Umbra/Jukebox/Meanwhile Back at the Saloon.ogg
  Resources/Audio/_Umbra/Jukebox/Persephone - Retro Funky (SUNDANCE remix).ogg
  Resources/Audio/_Umbra/Jukebox/ThreeSheetsToTheWind.ogg
  Resources/Audio/_Umbra/Jukebox/Xennial - Dread Pirate Roberts.ogg
  Resources/Audio/_Umbra/Jukebox/attributions.yml
  Resources/Audio/_Umbra/Jukebox/finket_ss14skubstep.ogg
  Resources/Audio/_Umbra/Jukebox/lateraligator.ogg
  Resources/Audio/_Umbra/Jukebox/rattlesnake railroad.ogg
  Resources/Prototypes/_Umbra/Catalog/Jukebox/Standard.yml
Labels: Changes: UI, size/M, S: Needs Review, Changes: Audio
